# macOS
.DS_Store
.AppleDouble
.LSOverride
Icon?

# Spotlight / Finder
.Spotlight-V100
.Trashes

# VS Code
.vscode/

# JetBrains
.idea/

# Node (if you ever add it)
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
assets/2M3A3975_副本.tiff
.claude/
